@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f5f5;
}

header {
    background-image: url(images/hero.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 78vh;
    display: flex;
    align-items: center;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding: 20px; /* Agrega un poco de espacio alrededor del menú en pantallas pequeñas */
}

.menu .logo {
    font-weight: 1200;
    font-size: 95px;
    color: #cbcbf8;
    text-align: center; /* Alinea el texto al centro en pantallas pequeñas */
    margin: 0; /* Elimina cualquier margen que pueda afectar en pantallas pequeñas */
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #0EAEF3;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
}

.content {
    padding: 150px 150px 0px 0px;
}

.content h1 {
    color: #ffffff;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 45px;
}

.content p {
    margin-top: 20px;
    color: #b1b6f2;
    text-transform: none;
    font-size: 25px;
    line-height: 29px;
}

.btn-1 {
    display: inline-block;
    background-color: rgba(170, 177, 255, 0.3);
    border: 1px solid #AAB1FF;
    margin: 35px 10px 0px 0px;
    padding: 15px 25px;
    color: #ffffff;
    border-radius: 25px;
}

.btn-1:hover {
    background-color: #AAB1FF;
}

.services {
    padding: 10px 0px;
    display: flex;
    justify-self: space-between;
    text-align: center;
}

.services {
    padding: 35px;
    margin: 0px 10px;
    box-shadow: 0px 0px 20px rgb(135, 141, 214, 0.3);
}

.services img {
    margin-top: -50px;
}

.services h3 {
    font-size: 20px;
    color: #0e0e0e;
    margin-bottom: 10px;
}

.services p {
    color: #525254;
    font-size: 16px;
}

.porfolios {
    padding: 80px 0px;
    text-align: center;
    color: #0e0e0e;
}

.porfolio {
    display: flex;
    align-items: center;
}

.porfolio h2 {
    font-size: 55px;
}

.porfolio img {
    width: 350px;
}

.porfolio-1 {
    text-align: left;
    margin-left: 100px;
}

.porfolio-1 h3 {
    font-size: 35px;
    margin-bottom: 15;
}

.porfolio-1 p {
    font-size: 118;
    color: #525254;
    margin-bottom: 25px;
}

.porfolio-2 {
    text-align: left;
    margin-right: 100px;
}

.porfolio-2 h3 {
    font-size: 35px;
    margin-bottom: 15px;
}

.porfolio-2 p {
    font-size: 118;
    color: #525254;
    margin-bottom: 25px;
}

.btn-2 {
    display: inline-block;
    padding: 15px 55px;
    border-radius: 25px;
    background-color: #7042B5;
    color: #ffffff;
}

.btn-2:hover {
    background-color: #8650D7;
}

footer {
    padding: 200px 0px 30px 0px;
    background-image: url(images/footer.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-content {
    display: flex;
}

.info-price {
    padding: 35px;
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    margin: 0px 150px 0px 0px;
    color: #0e0e0e;
}

.info-price h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.price {
    font-size: 14px;
    color: #0EAEF3 !important;
    margin-bottom: 10px;
}

.info-price p {
    font-size: 16px;
    color: #525254;
}

.info-txt {
    margin-left: 35px;
    color: #0e0e0e;
}

hr {
    margin: 45px 0px;
    border: 0.5px solid #aab1ff;
}

.enlaces {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.enlace h3 {
    font-size: 25px;
}

.enlace {
    display: flex;
}

.enlace li a {
    display: block;
    margin: 20px;
    color: #ffffff;
}

.enlace li {
    color: #0EAEF3;
}

@media (max-width: 991px) {
    .menu {
        padding: 20px;
        flex-direction: column; /* Cambia la dirección del flexbox a columna en pantallas pequeñas */
        align-items: center; /* Alinea los elementos al centro en pantallas pequeñas */
    }
    .menu .logo {
        text-align: center; /* Alinea el texto al centro en pantallas pequeñas */
        margin: 0; /* Elimina cualquier margen que pueda afectar */
    }
}
